/*
filename: style.css
Creator: Andrew, David Stare
Created: ???
last modified: ???
description: To design the imagery of the MadDrugsMD website
*/

body {font-family: Merriweather, sans-serif; font-size: 12px; font-style: normal;}
h2, h3, h4, h5. h6 {font-family:Times New Roman, Georgia, serif; font-style: normal;}
h1 {font-family: Merriweather; font-size: 20px; font-style: bold;}
footer {font-family: Merriweather; font-size: 12px; font-style: normal;}

/*label{
display:inline-block;
width:200px;
margin-right:5%;
text-align:right;
}-->

<!--input{

}-->

<!--fieldset{
border:none;
width:500px;
margin:-8%;
}-->*/


.menu {
		text-align: center;
		width: 100%;
		display: inline;
		padding: 0 15px 0 15px;
		letter-spacing: 0.1em;
		border: 2px solid black;
		color: black;
		font-weight: bold;
		background-color: white;
}
.menuxx {
		text-align: center;
		width: 100%;
		display: inline;
		padding: 0 15px 0 15px;
		letter-spacing: 0.1em;
		margin: 30px;
		margin-left: auto;
		margin-right: 100px;
		border: 2px solid black;
		color: black;
		font-weight: bold;
		background-color: white;
}
.menu2 {
		text-align: center;
		width: 100%;
		display: inline;
		padding: 0 10px 0 10px;
		letter-spacing: 0.1em;
		border: 2px solid black;
		margin: -90px;
		margin-left: 410px;
		margin-right: auto;
		color: black;
		font-weight: bold;
		background-color: white;
}

.applynow {
		text-align: center;
		border: 2px solid black;
		width: 100%;
		padding: 0 10px 0 10px;
		letter-spacing: 0.1em;
		color: black;
		font-weight: bold;
		background-color: #f2f2f2;
		margin: 20px;
}

.footerbox {
		width: 100%;
		float: right;
		background-color: #666666;
		text-align: center;
		margin: 50px;
		margin-left: 175px;
		margin-right: auto;
		border: 3px solid black;
}
.colleft {
		margin-right: 80px;
		float: left;
		padding: 30px 15px 40px 30px;
		width: 45%;
		height: 65%;
}
.footer {
		float: bottom;
		margin: auto;
		padding: 0px 0px 0px 0.5px;
		clear: both;
}

.center {
		text-align: center;
		color: #333333;
		}

.center1 {
		text-align: left;
		color: #000080;
		}
		
.conbox {
		width: 43.9%;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #3FABB3;
		text-align: center;
		max-width: 980px;
		margin: -155px;
		margin-left: 27%;
		margin-right: auto;
		border: 2px solid black;
		padding: 15px;
		position: relative;
		top: 110px;
}

.menubox2 {
		width: 40%;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #737373;
		text-align: center;
		max-width: 980px;
		margin-bottom: 80%;
		margin-left: 31%;
		margin-right: auto;
		border: 2px solid black;
		padding: 15px;
		position: relative;
		top: 110px;
}

.menubox3 {
		width: -40%;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #737373;
		text-align: center;
		max-width: 980px;
		margin: -85px;
		margin-left: 33%;
		margin-right: auto;
		border: 2px solid black;
		padding: 15px;
		position: relative;
		top: 110px;
}

.menubox4 {
		width: -40%;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #737373;
		text-align: center;
		max-width: 980px;
		margin: -85px;
		margin-left: 34.8%;
		margin-right: auto;
		border: 2px solid black;
		padding: 15px;
		position: relative;
		top: 110px;
}

.menubox5 {
		width: -40%;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #737373;
		text-align: center;
		max-width: 980px;
		margin: -85px;
		margin-left: 35%;
		margin-right: auto;
		border: 2px solid black;
		padding: 15px;
		position: relative;
		top: 110px;
}

.menubox6 {
		width: -40%;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #3FABB3;
		text-align: center;
		max-width: 980px;
		margin: -85px;
		margin-left: 35%;
		margin-right: auto;
		border: 2px solid black;
		padding: 15px;
		position: relative;
		top: 110px;
}

.conbox2 {
		width: 70%;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #737373;
		text-align: center;
		max-width: 980px;
		margin: 50px;
		margin-left: 100px;
		margin-right: auto;
		border: 2px solid black;
		padding: 100px;
}
	
.conbox3 {
		width: 35%;
		height: 30em;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #7FB1B2;
		text-align: left;
		max-width: 980px;
		margin: -20px;
		margin-bottom: 40px;
		margin-left: 29%;
		margin-right: auto;
		border: 2px solid black;
		padding: 100px;
}

.conbox4 {
		width: 45%;
		height: 20em;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #7FB1B2;
		text-align: left;
		max-width: 980px;
		margin: -20px;
		margin-bottom: 40px;
		margin-left: 24.7%;
		margin-right: auto;
		border: 2px solid black;
		padding: 100px;
}	

.conbox5 {
		width: 35%;
		height: 60em;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #7FB1B2;
		text-align: left;
		max-width: 980px;
		margin: -20px;
		margin-bottom: 40px;
		margin-left: 29%;
		margin-right: auto;
		border: 2px solid black;
		padding: 100px;
}	

.conbox6 {
		width: 35%;
		height: 220em;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #7FB1B2;
		text-align: left;
		max-width: 980px;
		margin: -20px;
		margin-bottom: 40px;
		margin-left: 29%;
		margin-right: auto;
		border: 2px solid black;
		padding: 100px;
}	

.conbox7 {
		width: 40%;
		height: 15em;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #7FB1B2;
		text-align: left;
		max-width: 980px;
		margin: 50px;
		margin-left: 26.6%;
		margin-right: auto;
		border: 2px solid black;
		padding: 100px;
}	

.conbox8 {
		width: 20%;
		height: 5em;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		background-color: #7FB1B2;
		text-align: left;
		max-width: 980px;
		margin: 50px;
		margin-left: 35.6%;
		margin-right: auto;
		border: 2px solid black;
		padding: 100px;
}

.conbox9 {
		width: 35%;
		height: 30em;
		float: left;
		background-color: #A59D9D;
		text-align: left;
		max-width: 980px;
		margin: -20px;
		margin-bottom: 40px;
		margin-left: 375px;
		margin-right: auto;
		padding: 100px;
}	
.paragraph1 {
			text-align: justify;
			text-justify: inter-word;
			width: 80%;
			margin: auto;
}

.img {
		background-image: 0 !important;
		width: 15%;
		height: 15em;
}

.img1 {
	max-width: 100%;
	height: auto;
	position: relative;
	margin-right: auto;
	margin-left: 33.7%;
}	

.img2 {
		background-image: 0 !important;
		width: 80%;
		height: 20em;
}

.menubox {
		width: 60%;
		float: left;
		box-shadow: 0 4px 10px 0 rgba(0,0,0,0.16);
		text-align: center;
		max-width: 980px;
		margin: 10px;
		margin-left: 450px;
		margin-right: auto;
		background-color: #a6a6a6;
		padding: 20px;
}

.title-box {
		width: 37%;
		float: right;
		background-color: #C7EA89;
		text-align: center;
		color: #323430;
		font-size: larger%;
		margin-top: 1%;
		margin-left: auto;
		margin-right: 23%;
		border: 2px solid black;
		padding: 20px;
}

.title-box3 {
		width: 30%;
		float: right;
		background-color: #C7EA89;
		text-align: center;
		color: #323430;
		font-size: larger%;
		margin: 9%;
		margin-top: 5%;
		margin-left: 0%;
		margin-right: 24.8%;
		border: 2px solid black;
		padding: 20px;
}

.title-box2 {
		width: 30%;
		float: right;
		background-color: #C7EA89;
		text-align: center;
		color: #323430;
		font-size: larger%;
		margin: 2%;
		margin-left: 0px;
		margin-right: 33%;
		border: 2px solid black;
		padding: 20px;
}

.title-box4 {
		width: 30%;
		float: right;
		background-color: #C7EA89;
		text-align: center;
		color: #323430;
		font-size: larger%;
		margin: -10%;
		margin-top: 5%;
		margin-left: 0px;
		margin-right: 33.7%;
		border: 2px solid black;
		padding: 20px;
}

.ad-box {
		width: 45%;
		float: right;
		background-color: #5C9505;
		text-align: center;
		margin: 2%;
		margin-left: 7%;
		margin-right: auto;
		border: 2px solid black;
		padding: 20px;
}

.ad-box-2 {
		width: 50%;
		float: right;
		background-color: #666666;
		text-align: center;
		margin: 2%;
		margin-left: 3%;
		margin-right: auto;
		border: 2px solid black;
		padding: 20px;
}

.w-box {
		width: 40%;
		float: right;
		background-color: #666666;
		text-align: center;
		margin: 50px;
		margin-left: 0px;
		margin-right: 255px;
		border: 2px solid black;
		padding: 20px;
}

.wb-box {
		width: 40%;
		float: right;
		background-color: #C0D1A8;
		text-align: center;
		margin: 20px;
		margin-left: 0px;
		margin-right: 480px;
		border: 2px solid black;
		padding: 10px;
}

.wbb-box {
		width: 40%;
		float: right;
		background-color: #C0D1A8;
		text-align: center;
		margin: 20px;
		margin-left: 0px;
		margin-right: 100px;
		border: 2px solid black;
		padding: 10px;
}

.wbx-box {
		width: 40%;
		float: right;
		background-color: #666666;
		text-align: center;
		margin: 50px;
		margin-left: 0px;
		margin-right: 120px;
		border: 2px solid black;
		padding: 10px;
}

.wbz-box {
		width: 40%;
		float: right;
		background-color: #C0D1A8;
		text-align: center;
		margin: -20px;
		margin-left: 0px;
		margin-right: -50px;
		border: 2px solid black;
		padding: 10px;
}

.wby-box {
		width: 40%;
		float: right;
		background-color: #666666;
		text-align: center;
		margin: -70px;
		margin-left: 0px;
		margin-right: 28%;
		border: 2px solid black;
		padding: 10px;
}

.signin-box {
		text-align: center;
		border: 2px solid black;
		width: 5%;
		padding: 0 15px 0 15px;
		padding: 5px;
		letter-spacing: 0.1em;
		color: black;
		font-weight: bold;
		background-color: #f2f2f2;
		margin-bottom: 3%;
		float: right;
}


@media only screen and (max-width: 1600px) {
	.conbox {
		margin-left: 35%;
	}
	.conbox3 {
		margin: -20px;
		margin-bottom: 40px;
		margin-left: 29%;
	}
	.title-box {
		margin-top: 1%;
		margin-left: 0%;
		margin-right: 21.6%;
	}
	.menubox2 {
		margin: -85px;
		margin-left: 33%;
		margin-right: auto;
	}
	.title-box3 {
		margin: -10%;
		margin-top: 5%;
		margin-left: 0px;
		margin-right: 22.7%;
	}
	.menubox4 {
		margin: -85px;
		margin-left: 33.3%;
		margin-right: auto;
	}
	.menubox5 {
		margin: -85px;
		margin-left: 33%;
		margin-right: auto;
	}
	.menubox6 {
		margin: -85px;
		margin-left: 33.5%;
		margin-right: auto;
	}
	.conbox8 {
		margin: 50px;
		margin-left: 34.5%;
		margin-right: auto;
	}
	.title-box4 {
		margin: -10%;
		margin-top: 5%;
		margin-left: 0px;
		margin-right: 31.3%;
	}
		
}
	

@media only screen and (max-width: 1920px) {
	.conbox {
		margin-left: 30.5%;
	}
	.conbox3 {
		margin: -20px;
		margin-bottom: 40px;
		margin-left: 29%;
		margin-right: auto;
	}
	.title-box {
		margin-top: 1%;
		margin-left: 0px;
		margin-right: 21%;
	}
	.menubox2 {
		margin: -85px;
		margin-left: 30.6%;
		margin-right: auto;
	}
	.title-box3 {
		margin: -10%;
		margin-top: 5%;
		margin-left: 0px;
		margin-right: 22.7%;
	}
	.menubox4 {
		margin: -85px;
		margin-left: 31.6%;
		margin-right: auto;
	}
	.menubox5 {
		margin: -85px;
		margin-left: 31.8%;
		margin-right: auto;
	}
	.menubox6 {
		margin: -85px;
		margin-left: 32.2%;
		margin-right: auto;
	}
	.conbox8 {
		margin: 50px;
		margin-left: 34.5%;
		margin-right: auto;
	}
	.title-box4 {
		margin: -10%;
		margin-top: 5%;
		margin-left: 0px;
		margin-right: 31.3%;
	}
	.title-box2 {
		margin-top: 3%;
		margin-left: 0px;
		margin-right: 32.51%;
	}
	.img1 {
		margin-left: 31.5%;
	}
	.ad-box {
		margin-right: 22.5%;
	}
	.ad-box-2 {
		margin-right: 21.6%;
	}
}		
		
	